* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    padding: 20px;
    max-width: 1100px;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
}

.logo {
    font-size: 28px;
    font-weight: bold;
}

.search-bar input {
    width: 400px;
    padding: 12px;
    font-size: 16px;
    border: 2px solid #ddd;
    border-radius: 8px;
}

.icons .icon {
    width: 30px;
    height: 30px;
    margin-left: 15px;
    cursor: pointer;
}

.container {
    margin-top: 40px;
}

.popular-images {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 20px;
    margin-bottom: 70px;
}

.popular-images img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

.tags {
    display: flex;
    gap: 10px;
    margin: 20px 0;
    margin-bottom: 70px;
}

.tag {
    background-color: #333;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.tag .remove-tag {
    margin-left: 8px;
    font-size: 20px;
    background: none;
    border: none;
    color: white;
    cursor: pointer;
}

.professors {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-top: 35px;
}

.professor-card {
    width: 200px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;
}

.professor-card:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}
