.chatroom-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.chatroom-list {
    width: 30vw;
    /* Adjust this as needed for the left side width */
    padding: 20px;
    overflow-y: auto;
}

.chatroom {
    width: 70vw;
    /* Adjust this as needed for the right side width */
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.chat-messages {
    flex: 1;
    overflow-y: auto;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    align-items: center;
}